body{
    padding: 0;
    margin:0;
}
* {
    box-sizing: border-box;
}
.wrapper{
    border: 1px solid #000;
    margin: 0 auto;
    max-width:1170px;
    padding: 20px;
}
.clearfix::after{
    visibility: hidden;
    display: block;
    clear: both;
    font-size: 0;
    content:'';
    height: 0;
}
.coral{
    background-color: rgb(255, 179, 151);
}
.gray{
    background-color: gray;
}
.upper-block{
    padding: 0 4px;
    /* border:1px solid #000; */
}
.header{
    /* border:1px solid #000; */
    padding:0 20px;
    margin-bottom: 10px;
}
.left-box-header{
    float: left;
    width: 30%;
    padding: 20px 0;
}
.right-box-header{
    float: right;
    width: 20%;
    padding: 20px 0;
}
.center-main{
    /* border:1px solid #000; */
    margin-bottom: 5px;
}
.center-big-block{
    margin: 0 auto;
    width: 30%;
    padding: 20px 0;
    
}
.center-small-main{
    /* border:1px solid #000; */
    margin-bottom: 10px;
}
.center-small-block{
    margin: 0 auto;
    width: 10%;
    padding: 5px 0;
}
.upper-sub-block{
    margin: 0 20px;
    margin-bottom: 20px;
}

/* .u-inner-level-left{
    width:25%;
    border:1px solid #000;
    margin:0 10px;
    padding: 10px 0;
    float:left;
    
} */


.u-inner-level-right{
    /* border:1px solid #000; */
    width:100%;
    padding: 0 10px;
    float:right;
}
.u-inner-level-right-level1{
    margin-top: 10px;
    /* border:1px solid #000; */
    margin-bottom: 10px;  
}

.u-inner-level-right-level2 {
    /* border:1px solid #000; */
    margin-bottom: 5px;  
}
.box1-gray{
    padding:5px 0;
    margin-right:2%;
    width:25%;
    margin-top: 5px;
    float: left;
}
.box2-gray{
    padding: 10px 0;
    margin-right:1%;
    width: 35%;
    float:left;
}
.box3-gray{
    margin-top: 5px;
    padding: 5px 0;
    width:30%;
    float:right;
}
.box4-gray{
    padding:5px 0;
    margin-right:2%;
    width:25%;
    margin-top: 15px;
    float: left;
}

.box5-gray{
    width: 72.9%;
    padding: 20px 0;
    float:right
}
.box-blank{
    width:27%;
    float:left;
    padding:5px;
}
.u-inner-level-right-level3 {
    /* border:1px solid #000; */
    margin-bottom: 10px;  
}
.box6-gray{
    width: 28%;
    padding: 5px 0;
    float:left;
}
.u-inner-level-right-level4 {
    /* border:1px solid #000; */
    margin-bottom: 10px;  
}

.box7-gray{
    width: 28%;
    margin-right: 1%;
    padding: 13px 0;
    float: left;
}

.box8-gray{
    width: 30%;
    padding: 8px 0;
    margin-top: 5px;
    float: left;
}

.upper-end-block{
    /* border:1px solid #000; */
    margin: 0 20px;
    
}

.upper-end-block-left{
    width:65%;
    /* border:1px solid #000; */
    float:left;
    
}
.box9-coral{
    border:1px solid #000;
    margin-right: 2%;
    width: 30%;
    padding: 13px 0; 
    float: left;
}

.upper-end-block-right{
    width:25%;
    /* border:1px solid #000; */
    float:right;
    margin-top:7px;
}

.box10-gray{
    width: 80%;
    padding: 8px 0;
    float: right;
}
.down-block{
    padding: 0 20px;
    margin-top: -1px;
    border: 1px solid #000;
}
.down-block-level1{
    margin-top: 15px;;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
}

.d-box1{
    padding: 15px 0;
    float: left;
    width:30%;
}

.d-box2{
    padding: 15px 0;
    float: right;
    width:30%;
}
.down-block-level2{
    margin-top: 15px;;
    /* border: 1px solid #000; */
    margin-bottom: 1px;
}

.d-box3{
    padding: 5px 0;
    float: left;
    width:15%;
}
.down-block-level3{
    margin-top: 5px;;
    /* border: 1px solid #000; */
    margin-bottom: 5px;
}

.d-box4{
    padding: 15px 0;
    float: left;
    width:80%;
    float:left;
}

.d-box5{
    padding: 15px 0;
    float: left;
    width:18%;
    float:right;
}
.down-block-level4{
    margin-top: 5px;;
    /* border: 1px solid #000; */
    margin-bottom: 15px;
}
.d-box6{
    padding: 5px 0;
    float: left;
    width:40%;
}
.down-block-level5{
    margin-top: 5px;;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
}
.d-box7{
    padding: 15px 0;
    float: left;
    width:100%;
}
.d-box8{
    padding: 5px 0;
    width:15%;
    float:right;
}
.d-box9{
    padding: 15px 0;
    width:80%;
    float:right;
}
.down-block-end{
    margin-top: 5px;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
}
.d-box-end1{
    padding:5px 0;
    float: left;
    width:30%;
}
.d-box-end2{
    padding: 5px 0;
    float: right;
    width:30%;
}