@font-face {
    font-family: 'Century_Gothic';
    src: url("../font/Century_Gothic.ttf") format('truetype');
}
@font-face {
    font-family: 'Century_bold';
    src: url("../font/GOTHICB.TTF") format('truetype');
}
*{
    box-sizing: border-box;
    font-family: 'Century_Gothic';
}
.wrapper{
    max-width: 1920px;
    background-color: #0F1320;
    /* background-image: url("../images/Frame_45.png"); */
    /* padding: 25px 42px; */
    margin: 0 auto;
}

.bold-text{
    font-family: "Century_bold";
}


  .icon-logo_colored_sign_black_text {
    width: 207px;
    height:32px;
  }
  .icon-Union {
    width: 20px;
    height: 14px;
  }
    a {
      color: white;
  }
  .text-header{
      padding-left: 5px;
      font-size: 13px;
      font-weight: 600; 
  }
 
  .btn{
      border-width:2px ;
      font-weight: 600;
      font-size: 11px;
      color: white;
      padding:15px 42px;
  }
  .header_main_block{
    background-image: url("../images/Frame_45.png");
    background-repeat: no-repeat;
  }
  .header{
    padding: 34px 42px; 
    
    /* margin-bottom: 205px; */
  }
  .header_left{
      margin-top: 8px;;
  }
  .head-banner{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

  .head-banner .banner-left{ 
      width: 50%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0 auto;
  }
  .navbar-nav {
    margin-left: 32px;

}
.banner-left{
    position: absolute;
    left: 9%;
    top: 47%;
    transform: translateY(-70%);
    max-width: 562px;
}
  .banner-left a{
    background: linear-gradient(0deg, #2B3087 0%, #00B4EC 81.99%), linear-gradient(0deg, #FFD100, #FFD100);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      margin-bottom: 20px;
  }
  .banner-left h2{
      margin-bottom: 30px;
    color: white;
    font-weight: 700;
    font-size: 45px;
}
.banner-left p{
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 400;
    color: #b9b9b9;
}
.image_phone{
    width: 100%;
    height: auto;
    padding-top: 18px;
    /* margin-top: -314px;
    margin-left: -4px; */
}
.banner-right{
    justify-content: flex-end;
}

.level2-card{
    margin: 0 auto;
    max-width: 1574px;
    padding-bottom: 120px;
}

.left_card{
    color: white;
    margin-right: 20px;
    max-width: 777px;
    background: #171B29;    
    border-radius: 25px;
    padding: 60px 70px;
    margin-bottom: 90px;
}

.left_card h3{
    color: white;
    font-family: "Century_bold";
}
.left_card a{
    color:  #22A75D;
    font-family: "Century_bold";
    text-decoration: underline;
}
.left_card p{
    opacity: 0.3;
}

.right_card{
    margin-top: 90px;
    color: white;
    max-width: 777px;
    background: #171B29;    
    border-radius: 25px;
    padding: 60px 70px;
}

.right_card p{
    opacity: 0.3;
}

.right_card h3{
    color: white;
    font-family: "Century_bold";
}
.right_card a{
    color:  #2278D4;
    font-family: "Century_bold";
    text-decoration: underline;
}
.star{
    display: flex;
    justify-content: start;
    width: 70px;
    height:70px;
    border-radius:50% ;
    background: #2278D4;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
    margin-bottom: 20px;

}
.icon-Vector {
    width: 25px;
    height: 25px;
  }
  .crown{
      display: flex;
      justify-content: start;
      width: 70px;
      height:70px;
      border-radius:50% ;
      background: #22A75D;
      box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
      margin-bottom: 20px;

  }
.level3{
    /* margin-bottom: 203px; */
}


.level3-left{
    /* max-width: 960px; */
    background-repeat: no-repeat;
        
}
.level3-right{
    padding: 296px 243px  130px 143px;
    /* max-width: 960px; */
    background-repeat: no-repeat;
    background-image: url("../images/Rectangle 11.png");
}

.level3-right h2{
    font-size: 45px;
    font-family:"Century_bold" ;
}

.level3-right p{
    margin-top: 30px;
}

.level4  {
    max-width: 1574px;
    margin: 0 auto;
    padding-top: 200px;
}
.level4-main{
    border-top-right-radius: 50px;
}

.box1{
    
}
ol {
    list-style-type: decimal-leading-zero;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
    opacity: 0.7;
}
li{
    padding-left: 20px;
}
.box-header{
    margin-bottom: 50px;
}
.box-1 .elipse{
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 50% 25%;
    margin-bottom: 10px;
    background-color: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}
.box-1 .elipse h3{
    font-family: 'Century_bold';
}
.box-1 .circle{
    background-color: #22A75D;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.box-1 .year{
    margin-left: 10px;
    margin-top:10px;
}
.box-1 .content-list li::marker {
    color: #22A75D;
    font-size: 12px;
}

.box-2 .elipse{
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 50% 25%;
    margin-bottom: 10px;
    background-color: #2278D4;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);
}
.box-2 .elipse h3{
    font-family: 'Century_bold';
}
.box-2 .circle{
    background-color: #2278D4;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.box-2 .year{
    margin-left: 10px;
    margin-top:10px;
}
.box-2 .content-list li::marker {
    color: #2278D4;
    font-size: 12px;
    font-weight: 700;
}

.box-3 .elipse{
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 50% 25%;
    margin-bottom: 10px;
    background-color: #FFD100;
    box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);
}
.box-3 .elipse h3{
    font-family: 'Century_bold';
}
.box-3 .circle{
    background-color: #FFD100;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.box-3 .year{
    margin-left: 10px;
    margin-top:10px;
}
.box-3 .content-list li::marker {
    color: #FFD100;
    font-size: 12px;
}

.box-4 .elipse{
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 50% 25%;
    margin-bottom: 10px;
    background-color: #E20613;
    box-shadow: 0px 15px 25px rgba(226, 6, 19, 0.25);
}
.box-4 .elipse h3{
    font-family: 'Century_bold';
}
.box-4 .circle{
    /* margin-bottom: 12px;
    margin-left: 3px; */
    background-color: #E20613;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.box-4 .year{
    margin-left: 10px;
    margin-top:10px;
}
.box-4 .content-list li::marker {
    color: #E20613;
    font-size: 12px;
}

.level5{
    margin: 0 auto; 
    max-width: 1574px;
    padding-top: 160px;
    padding-bottom: 100px;
}

.level5-left{
    color:white;
    max-width: 634px;
    
}

.level5-right{
    max-width: 891px;
    margin-left: 49px;
}

.level5-left h2{
    
}
.level5-left .head{
    font-size: 48px;
    margin-bottom: 20px;
    font-family: "Century_bold";
}
.para1{
    font-family: "Century_bold";
    font-size: 16px;
    display: block;
    opacity: 0.8;
    margin-bottom: 10px;
}
.para2{
    font-family: "Century_Gothic";
    font-size: 16px;
    display: block;
    opacity: 0.5;
    margin-bottom: 10px;
}
.para3{
    font-family: "Century_b";
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}
.icon-Group-3 {
    width: 50px;
    height:54px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.level6 {
    background-image: url(../images/mask-group.png);
    padding-top: 400px;
}

.level7{
    max-width:1574px;
    margin:0 auto;
}
.level7 .title{
    font-size: 36px;
    font-family: "Century_bold" ;
    color: white;
    margin-bottom: 50px;
}
.cards-step{
    max-width: 1574px;
    position: relative;
}
.cards-step p{
    font-size: 18px;
    font-family: "Century_bold";
}
.card-1{
    max-width: 511px;
    margin-right: 20px;
    display:flex;
    align-self: center;
    justify-content: center;
    background-color: #171B29;
    border-radius: 25px;
}
.card-2{
    transform: translateY(60px);
    max-width: 511px;
    margin-right: 20px;
    display:flex;
    align-self: center;
    justify-content: center;
    background-color: #171B29;
    border-radius: 25px;
}
.card-3{
    max-width: 511px;
    display:flex;
    align-self: center;
    justify-content: center;
    background-color: #171B29;
    border-radius: 25px;
}
.card-content{
    /* margin-top: 50px; */
    color: white;
    font-size: 18px;
    font-family: "Century_bold";
    padding: 20px 116px 80px 116px;
}

 .level8{
    /* max-width: 780; */
    margin-top: 270px;
    text-align: center;
    margin-bottom: 130px;
} 

.level8-ul{
    list-style: none;
    color: white;

}

.level8-items{
    display: inline-block;
    font-family: "Century_bold";
    font-size: 16px;
}
.l8after::after{
    content: "/";
    padding: 0 100px;
    opacity: 0.3;
}


.footer{
    margin: 0 auto;
    max-width: 1574px;
    padding-bottom: 150px;
}
.copyright{
    color: white;
    font-size: 14px;
    font-family: Century_bold;
}
.copyright p{
    text-align: right;
}
.icon-Vector-1 {
    width: 50px;
    height:50px;
    padding: 15px;
    
    
  }

.icon_radius{
    max-width: 50px;
    max-height: 50px;
    border-style: solid;
    margin-right: 9px;
    border-color: rgba(255, 255, 255, 0.397);
    border-width: 1px;
    border-radius: 50%;
}
.icon-Vector-7{
    width: 22px;
    height: 22px;
}
.footer-end{
    opacity: 0.3;
}
.icon-Vector-8{
    display: flex;
    justify-content: start;
    width: 70px;
    height:70px;
    border-radius:50% ;
    background: #2278D4;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
    margin-bottom: 20px;
}

.footer_image{
    background-image: url("../images/Ресур.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.owl-carousel{
    /* padding-top: 400px; */
    max-width: 1574px;
    margin: 0 auto;
    transform: translateY(35px);
}
.level6{
    text-align: center;
    padding-bottom: 177px;
}
.carousel-title{
    font-family: "Century_bold";
    color: white;
    font-weight: 700;
    font-size: 48px;
}

.owl-card-1{
    padding-bottom: 83px;
    max-width: 511px;
    margin-right: 20px;
    display:flex;
    align-self: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
}
.owl-card-2{
    padding-bottom: 83px;
    margin-top: 60px;
    /* transform: translateY(60px); */
    max-width: 511px;
    margin-right: 20px;
    display:flex;
    align-self: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
}
.elipse-toggle-1{
    margin: 53px auto;
    width: 82px;
    height: 82px;
    border-radius: 50% 50% 50% 25%;
    background-color: #22A75D;
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);

}
.owl-card-3{
    padding-bottom: 83px;
    max-width: 511px;
    display:flex;
    align-self: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
}

.round-arrow1{
    padding: 28.5px 32px;
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: 1;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-color: #0F1320;

}
.round-arrow2{
    padding: 28.5px 32px;
    position: absolute;
    top: 45%;
    left: 64%;
    z-index: 1;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-color: #0F1320;

}
.icon-Vector-Stroke {
    width: 24px;
    height: 24px;
  }
.owl-card-content{
    /* margin-top: 50px; */
    color: #191B21;
    font-size: 16px;
    font-family: "Century_bold";
}
.owl-box-header{
    background-image: url("../images/01.png");
    background-repeat:no-repeat ;
    padding: 57px 93px 87px 95px;
    background-origin: content-box;
    background-position: center;
}

.owl-box-header h2{
    font-size: 32px;
    margin-bottom: 9px;
}
.owl-box-header p{
    font-size: 16px;
    margin-bottom: 7px;
    
}

.owl-box-header2{
    background-image: url("../images/02.png");
    background-repeat:no-repeat ;
    padding: 57px 93px 87px 95px;
    background-origin: content-box;
    background-position: center;
}

.owl-box-header2 h2{
    font-size: 32px;
    margin-bottom: 9px;
}
.owl-box-header2 p{
    font-size: 16px;
    margin-bottom: 7px;
    
}

.owl-box-header3{
    background-image: url("../images/03.png");
    background-repeat:no-repeat ;
    padding: 57px 93px 87px 95px;
    background-origin: content-box;
    background-position: center;
}

.owl-box-header3 h2{
    font-size: 32px;
    margin-bottom: 9px;
}
.owl-box-header3 p{
    font-size: 16px;
    margin-bottom: 7px;
    
}


.bnb{
    font-size: 20px;
    /* opacity: 0.75; */
}

.elipse-toggle-2{
    margin: 53px auto;
    width: 82px;
    height: 82px;
    border-radius: 50% 50% 50% 25%;
    background-color: #2278D4;
    box-shadow: 0px 15px 25px rgba(34, 120, 212, 0.25);

}
.elipse-toggle-3{
    margin: 53px auto;
    width: 82px;
    height: 82px;
    border-radius: 50% 50% 50% 25%;
    background-color: #FFD100;
    box-shadow: 0px 15px 25px rgba(255, 209, 0, 0.25);

}
.branding{
    text-align: left;
    margin-bottom: 30px;
}
.footer{
    margin-top: 70px;
}

.learn-more{
    box-shadow: 0px 15px 25px rgba(34, 167, 93, 0.25);
}
.footer-end{
    justify-content:flex-end;
}

@media (max-width: 1000px) {
    .wrapper{
        background-color: #0F1320;
        /* padding:49px 20px; */
        display: block;
    }

  .navbar-toggler{
    margin-top: 5px;
  }

    .header_main_block{
        margin: 0 0;
    }
    
    .header{
        padding: 44px 20px 0px;
        background-repeat: no-repeat;
    }
    
    .head-banner {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
    }

    .head-banner .banner-left{ 
        width: 100%;
        display: flex;
        margin: 0 auto;
    }

    li{
        padding-left: 5px;
    }

    .banner-left {
        padding: 0 20px;
        top: 5%;
        left: 0%;
        max-width: 375px;
        transform: translateY(0%);
        
    }
    
    .learn-more{
        margin-top: 21px;
        padding: 13px 41px;
        font-size: 14px;
        font-weight: 700;
        padding: 10px 33px;
    }
    .banner-left a{
          margin-bottom: 14px;
          font-size: 14px;
      }
    .banner-left h2{
        font-size: 36px;
        letter-spacing: -0.4px;
        line-height: 40px;
        margin-bottom: 18px;
    }
    .banner-left p{
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 22px;
    }

    .banner-right{
        margin-top: 420px;
        width: 100%;
        margin-right: 65px;
    }

    .icon-logo_colored_sign_black_text{
          max-width: 155px;
    }
    .navbar-toggler{
          padding: 0px 0px;
    }
    .image_phone{
        width: 405px;
        height: 432px;
        object-fit: cover;
        object-position: 59%;
    }


    .level2-card .row{
        flex-direction: column;

    }

    .header_left , .header_right{
        margin-top: 20px;
        flex-direction: column;


    }
    .header_right .btn {
        margin: 12px 0;
        padding: 0;
        border-width: 0;
        

    }

    .left_card{
        max-width: 335px;
        margin-right: 0px;
        padding: 30px 26px 38px 30px;
        margin-bottom: 10px;
    }
    
    .right_card{
        margin-top: 0px;
        margin-right: 0px;
        max-width: 335px;
        padding: 30px 26px 40px 30px;
    }
    .right_card p{
        margin-top: 20px;
    }
    .right_card small{
        font-size: 14px;
    }

    .level2-card{
        margin:72px auto 0px;
        max-width: 335px;
        padding-bottom: 60px;
    }
    .left_card p{
        margin-top: 20px;
    }
    .left_card small{
        font-size: 14px;
    }

    .level3-left{
        
        transform: scaleX(-1);
    }
    .level3-left img{
        width: 100%;
        background-repeat: no-repeat;
    }
    .level3-right {
        border-top-right-radius: 150px;
        background-image:none ;
        background-color: white;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        padding: 70px 20px 103px;
    }
    .level3-right h2{
        font-size: 36px;
        padding-right: 84px;
        line-height: 40px;
    }
    .level3-right p{
        color: rgba(15, 19, 32, 1);
        opacity: 0.7;
        font-size: 14px;
    }
    .box-header{
        padding: 0!important;
        margin-top: 31px;
        margin-bottom: 17px;
    }

    .level4{
        padding: 40px 0px 0px 20px;
    }

    .circle{
        margin-bottom: 12px;
        margin-left: 3px;
    }
    .level5{
        flex-direction: column-reverse;
        padding: 72px 20px 0px;
    }
    .content-list{
        padding-top:2px;
        line-height: 20px   ;
    }

    .level5-right {
        max-width: 335px;
        margin-left: 49px;
        display: contents;
    }
    .level5-right img{
        width: 100%;
    }

    .level5-left button{
        border-width: 0px;
        padding: 0px;
        text-decoration: underline;
        color: #28a745;
        font-size: 18px;
        font-weight: 700;
    }

    ol{
        padding-left: 20px;
    }
    .icon-Group-3{
        display: flex;
        margin-bottom: 0px;
    }
    .level5-left .head{
        margin-top:70px;
        font-size: 36px;
    }
    .level6{
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        /* margin-left: -20px; */
        background-image: url("../images/mask-owl.png");
        padding-top: 105px;
        background-size: cover;
    }

    /* .level5-left .head p {
        visibility: hidden;
        position: relative;
    }

    .level5-left .head::after{
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        content:'Weentar is coming';
    } */
    .carousel-title{
        font-size: 36px;
        padding: 0px;
    }
    .carousel-title p{
        margin: 0px;
    }
    .owl-carousel{
        /* margin-top: 17px; */
    }
    .owl-box-header{
        margin: 10px 66px 33px 67px;
        padding: 0px;
        background-size: contain;
    }
    .owl-box-header2{
        margin: 10px 66px 33px 67px;
        padding: 0px;
        background-size: contain;
    }
    .owl-box-header3{
        margin: 10px 64px 33px 64px;
        padding: 0px;
        background-size: contain;
    }
    
    .owl-card-1{
        max-width: 355px;
        margin-right: 10px;
        padding-bottom: 38px;
    }
    .owl-card-2{
        max-width: 355px;
        margin-right: 10px;
        padding-bottom: 38px;
        margin-top: 0px;
        
    }
    .round-arrow1 {
        transform: rotate(90deg);
        top:29%;
        left: 41%;
        width: 60px;
        height: 60px;
        padding: 16px 0px 16px 25px;
    }
    .round-arrow2 {
        transform: rotate(90deg);
        top:63%;
        left: 41%;
        width: 60px;
        height: 60px;
        padding: 16px 0px 16px 25px;
    }

    .owl-card-3{
        max-width: 355px;
        padding-bottom: 38px;
    }
    .level8{
        display: none;
    }
    .branding{
        text-align: center;
    }
    .footer{
        padding-bottom: 0px;
    }
    .footer-end{
        justify-content:center;
    }
    .icons{
        margin-bottom: 30px;
    }
    .card-content{
        padding:0px 43px 50px 30px;
    }
    .cards-step{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .icon-Vector-Stroke {
        width: 12px;
        height: 12px;
    }
    .copyright p{
        text-align: center;
    }

    .num p{
        margin: 0px;
    }
    .card-1{
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .card-2{
        margin-right: 0px;
        margin-bottom: 10px;
        transform: none;
    }
    .header_main_block{
        width: 100%;
        background-image: url("../images/bg.png");
        background-repeat: no-repeat;
      }
    .footer_image{
        background-image: none;
    }

  }
